//--- text colors ---//
$light: rgba(232, 233, 235, 1);
$medium: rgba(167, 167, 167, 1);
$dark: rgba(96, 96, 96, 1);

//--- main colors ---//
$primary: rgba(0, 154, 201, 1);
$secondary: rgba(34, 56, 67, 1);
$accent: rgba(202, 182, 0, 1);

//--- basic colors ---//
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

//--- indicator colors ---//
$success: rgba(0, 128, 0, 0.9);
$warning: rgba(255, 255, 0, 0.9);
$danger: rgba(255, 0, 0, 0.9);
$info: rgba(0, 146, 204, 0.9);