//--- grid columns ---//
$col-1: 300px;
$col-2: 600px;
$col-3: 900px;
$col-4: 1200px;
$col-5: 1500px;
$col-6: 1800px;

//--- constraint containers---//
$phone: 320px;
$tablet-small: 640px;
$tablet: 960px;
$tablet-wide: 1280px;
$desktop: 1600px;
$desktop-wide: 1920px;



